$top_buffer_size : 6em;
$bootstrap_3_small_device_width : 768px;
$bootstrap_3_med_device_width : 992px;
$bootstrap_3_large_device_width : 1200px;
$footer_height: 12em;
$sub_title_font_size : 1.1em;

$red:#E51707;
//*****colors from personal comic book cover project
$purple : #471267;
$blue : #0084BA;
// $cyan : #A3C6DF;

$light_red : lighten($red, 48%);
$light_blue : lighten($blue, 30%);
$light_cyan : lighten($blue, 48%);
$light_purple : lighten($purple, 51%);

%brand_font_style{
	font-family: "Yellowtail", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

%heading_font_style{
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}
%body_copy_font_style{
	font-family: "Book Antiqua", "Palatino Linotype", Palatino, Georgia, serif;
}

//***********Base styles
html,body{
	height: 100%;
}
body{
	@extend %body_copy_font_style;
	font-size: 16px;
}

h1,h2,h3,h4{
	@extend %heading_font_style;
	margin: 0;
}
h1{
	font-size : 3.157em;
}
h2{
	font-size: 2.369em;
	margin-bottom: .2em;
}
h3{
	font-size: 1.777em;
}
h4{
	font-size: 1.333em;
}
img{
	max-width: 100%;
}
ul{
	list-style-type:square;
    padding-left: 0;
}

a:link{
	color : $blue;
}
a:visited{
	color: $purple;
}
a:hover{

}
a:active{
	color: $red;
}

aside{
	margin-bottom:0.5em;
	opacity:0.75;
}

.red_background{
	background-color : $light_red;
}
.cyan_background{
	background-color : $light_cyan;
}
.blue_background{
	background-color : $light_blue;
}
.purple_background{
	background-color : $light_purple;
}

//*****************general helper classes
.italic{
	font-style:italic;
}
.top_buffer_sm{
	margin-top: 0;
}
.center{
	text-align:center;
}

.bottom_margin_sm_only{ //so at small screen sizes column tops don't bump into each other
	margin-bottom: 3em;
}
.sm_col_desc{ //used for p descriptions in columns so they are not separated from related pictures
	margin-bottom:0;
}
.bottom_margin{
	margin-bottom : 2em;
}

.half_bottom_margin{
	margin-bottom : 1em;
}

.left_buffer_md{
	margin-left: 0;
}

//****************classes so footer stays at bottom
main{
	//bottom padding is height of footer so it stays on bottom
	padding: 0 0 $footer_height 0;
}
footer{
	font-size: .7em;
	width:100%;
	height:$footer_height + 4em;
	position:absolute;
	bottom:0;
	text-align: center;
	padding-top: $footer_height;
}
.total{
	//used to place footer at the bottom of the page
	min-height: 100%;
	position: relative;
}
//********************jumbotron settings
.jumbotron{
	padding: 0 0 4em 0;
}
//*****************styles for section home pages
header.section_header{
	padding-bottom: 0;
}
p.section_header{
	font-size: $sub_title_font_size;
	margin-top: 1em;
	line-height: 1.6em;
}


//***************home page logo text
h1.logo_text{
	@extend %brand_font_style;
	margin-bottom: 0em;
	font-size: 4.1em;
}
.jumbotron .lead{
	@extend %heading_font_style;
	font-size: 0.7em;
}
p{
	line-height: 1.5em;
}
header.home{
	// background-color: #A90000;
	background-color:$red;
	color: white;
	margin-bottom: 0;
}
.main_brand{
	margin-top: 4em;
}
//*************homepage sections styles
//redundant hover classes art uses for js when hovered over title instead of icon
svg.code_icon:hover,svg.code_icon_hover{
	fill: $light_cyan;
}
svg.music_icon:hover,svg.music_icon_hover{
	fill: $blue;
}
svg.artwork_icon:hover,svg.artwork_icon_hover{
	fill: $red;
}
svg.video_icon:hover,svg.video_icon_hover{
	fill: $light_purple;
}

//*************homepage about me section
.highlights_section{
	margin-top: 2em;
}
.highlights_list li{
	margin-top: 0.6em;
}
.about{
	padding: 2em 0 2em 0;
}
.about p{
	font-size : $sub_title_font_size;
}
.about_me{
	margin-bottom: 5em;
}

//******************** navbar styles
.navbar-brand{
	@extend %brand_font_style;
	font-size: 1.5em;
}
nav li{
	@extend %heading_font_style;
}

//*************Video page
.youtube{
	width : 100%;
	height : 360px;
	frameborder : 0;
}
.video_container{
	margin: 0 auto;
	margin-bottom: $top_buffer_size;
	max-width: 640px;
}

//***************Artwork page
.thumbnail_container{
	max-width: 256px;
	max-height: 256px;
	display: block;
	margin: 0 auto 3em auto;
	border : 1px solid black; //for older browsers
	border : 1px solid rgba(0,0,0,0.1);
}

.thumbnail_container img{
	width: 100%;
}
//to get color change on images on hover
.thumb_container_red:hover{
	background-color : $red;
}
.thumbnail_container img:hover{
	opacity : 0.5;
}

//for artwork detail pages
a.back_link{
	display:block;
	margin-bottom: 1em;
}
.small_bottom_padding{
	padding-bottom:1.5em;
}

//******************Code page
.code_link figure{
	display:inline-block;
	margin-bottom:1em;
	max-width:256px;
	max-height:256px;
	// background-color:$blue;
}
//used to differentiate links to github
.code_link[href*="github"] h3:after{
	content: "*";
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
	top: -0.5em;
	text-decoration:none;
	display:inline-block;
}
.code_link figure:hover{
	opacity : 0.5;
}

//*******************Music page
iframe.music_player{
	width: 100%;
	height: 150px;
}

//**************************
//* Animations
//***************************
.explode{
	letter-spacing: 0; //required for transition to work on firefox
	transition:letter-spacing 1s ease-out;
}
.explode:hover, .exploded{ //redundant style used so that icon can trigger hover style
	letter-spacing: 0.5em;
	-webkit-font-variant-ligatures: no-common-ligatures;
}

//*******************************************
//*************Media Queries*****************
//*******************************************

@media (min-width: $bootstrap_3_small_device_width) {
	.thumbnail_container, .code_container{
		display: inline-block;
		margin: 0 1em 1em 0;
	}
	
//*********** homepage logotext
	h1.logo_text{
		font-size: 6em;
	}
	.jumbotron .lead{
		font-size: 1.1em;
	}
	.main_brand{
		margin-top: 6em;
	}
	img.icon{
		margin-top: 4px;
	}
	.sm_col_desc{
		margin-bottom:10px;
	}

}
@media(min-width: $bootstrap_3_med_device_width){
	.bottom_margin_sm_only{
		margin-bottom: 0;
	}
	.top_buffer_sm{
		margin-top: $top_buffer_size;
	}

	.pull_right_md{
		float: right;
	}

	.left_buffer_md{
		margin-left: 2em;
	}
	//used for homepage highlights list so it will match the height of the h2
	.highlights_section{
		margin-top: 2.369em - 1.333em;
	}
}

@media (min-width: $bootstrap_3_large_device_width) {
	//***************Base styles
	.jumbotron h1{
		font-size: 4em;
	}

	h1.logo_text{
		margin-bottom: -0.15em;
		font-size: 15em;
	}
	.jumbotron .lead{
		font-size: 1.4em;
	}
	header.home{
		padding: 0 0 14em 0;
	}
	.main_brand{ //padding for the top of header jumbotron
		margin-top: 10em;
	}
	.about{
		padding: 5em 0 6em 0;
	}
}