<!DOCTYPE html>
<html>
<head><title>The XML Bookstore</title>
<link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>
<body>
	<nav>
		<ul>
			<li class="nav_deselected"><a href="index.php">All Books</a></li>
			<li class="nav_deselected"><a href="categories.php">Browse by Category</a></li>
		</ul>
	</nav>
	<main>
		<header>
			<h5>Category: Database</h5>
			<h1>Oracle: A Beginner&apos;s Guide</h1>
			<figure><img src="../images/Oracle.JPG" class="book_image" alt="book cover" /></figure>
			<h4>by Abbey, Michael</h4>
		</header>
		<content>A beginner&apos;s guide to the complex and powerful Oracle database management system. Teaches you how to set up, query and manage your database, including principles of database design, how to manage data, generate reports and tune the system for optimal performance.</content>

		<footer><dl><dd class="price">$30.00</dd><dd class="isbn">ISBN: 0-07-882122-3</dd></dl></footer>
	</main>

</body>
</html>