@mixin title_color($border_color, $title_text_color : $border_color){
	border-color: $border_color;
	color: $title_text_color;
}

$menu_contents_bg_color : rgba(255,255,255,0.9);

body{
	font-family: Times, 'Times New Roman', 'Droid Serif', serif;
	font-size: 19.2px;
	background: #c9c9c9 url('../images/mountain1.jpg') no-repeat;
}
main{
	display: block;
	margin: 0 auto;
	max-width: 1300px;
	text-align: center;
}

hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    margin-left: 0;

}

section.main_content{
	min-height : 525px;
}
ul li{
	list-style-position: inside;
}
li a{
	display: block;
}

// .menu_contents ul li:hover{
// 	//background-color : darken($menu_contents_bg_color, 10%);
// 	//-webkit-box-shadow: inset 2px 3px 1px rgba(0,0,0,0.1);	
// }

.menu_container{
	float: left;
	margin: 5px;
}
.menu_title{
	font-family: futura, helvetica, 'helvetica neue', 'Droid Sans', arial, sans-serif;
	border-color: black;
	border: solid;
	padding: 10px;
	min-width: 170px;
	text-align: center;
	opacity: .6;
}
.menu_title:hover{
	opacity: 1;
}
.menu_title_clicked{
	opacity: 1;
}
.orange_title{
		//border-color: #8c00ff;
		//color: #8c00ff;
		@include title_color(#e16000);
}

.green_title{
	@include title_color(#61be7c, green);
}
.blue_title{
	@include title_color(#2738ff, #5065ff);
}
.yellow_title{
	@include title_color(#f4be7c);
	//color: #cda66b;
}
.dodgerBlue_title{
	@include title_color(#2781ff, #2739ff);
}
.red_title{
	@include title_color(#d9787c, #ff6575);
}
.pink_title{
	@include title_color(#d9bdde, #a324ff);
}
.black_title{
	@include title_color(#493764, #49124c);
}
.purple_title{
	@include title_color(#9400d3, lighten(#751947, 10%));
}
.menu_contents{
	display: none;
	padding: 10px;
	min-width: 170px;
	z-index: 100;
	text-align: left;
	max-width: 220px;
}
.menu_contents li{
	text-indent: -1em;

}

.menu_contents_active{
	display: block;
	background: $menu_contents_bg_color;
	// background: rgba(34,34,34,0.2);
	// -webkit-filter: blur(15px);
	-webkit-filter: drop-shadow(4px 10px 2px rgba(0,0,0,0.2));
  	filter: drop-shadow(4px 10px 2px rgba(0,0,0,0.2));
}
// .menu_contents_active a{
// 	text-align: center; 
// 	color: #fefefe; 
// 	font-weight: normal;
// }
li{
	padding: 10px;
}
a.heading{
	text-decoration: none;
}

blockquote{
	color: black;
	background: white;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
.quote_body{
	text-align: left;
	padding-left: 8%;
	padding-right: 8%; 
}
.quote_attribution{
	text-align: center;
	margin-top : 3px;
	font-size : .9em;
}
.spacing_div{
	width: 25%;
	display: inline-block;
}


@media screen and (max-width:500px) {
	main{
		width: 100%;
	}
	.menu_container{
		display: inline-block;
		width:90%;
		margin: 5px;
	}
	.menu_title{
  		width:100%;
  		height: 80px;
  		font-size: 200%;
  	}
  	.menu_title_clicked{
  		height: 80px;
  		font-size: 200%;
  	}
  	.menu_contents{
		font-size: 130%;
		width: 100%;
		max-width: 100%;
	}
	.menu_contents_active{
	display: block;
	background: rgba(255,255,255,1);
	-webkit-filter: drop-shadow(0 0 0 rgba(0,0,0,0));
  filter: drop-shadow(0 0 0 rgba(0,0,0,0));

	}

  	li{
  		width: 100%;
		padding: 20px;
		font-size: 120%;
	}
	.menu_title{
		opacity: 1;
	}
	blockquote{
		width: 100%;
		font-size: 130%;
		padding-left: 5px;
		padding-right: 5px;
	}
	.quote_body{
	text-align: left;
	padding-left: 0px;
	padding-right: 0px; 
	}

	.quote_attribution{
		text-align: left;
	}
}