<!DOCTYPE html>
<html>
<head>
	<title>The XML Bookstore</title>
<link rel="stylesheet" type="text/css" href="../styles/style.css" />

</head>
<body>
	<nav>
		<ul>
			<li class="nav_selected"><a href="index.php">All Books</a></li>
			<li class="nav_deselected"><a href="categories.php">Browse by Category</a></li>
		</ul>
	</nav>
	<main>
		<table>
			<tr>
				<th>Title</th>
				<th>Category</th>
				<th>Price</th>
				<th>Author</th>
			</tr>
		<tr>
			<td><a href="">Oracle: A Beginner&apos;s Guide</a></td>
			<td>Database</td>
			<td>$30.00</td>
			<td>Abbey, Michael</td>
		</tr>
		
		<tr>
			<td><a href="">Creating Killer Interactive Web Sites : The Art of Integrating Interactivity and Design</a></td>
			<td>Web</td>
			<td>$39.99</td>
			<td>McClelland, Deke</td>
		</tr>
		</table>

	</main>

</body>
</html>