body {background-color:black;
	color:white;
	font-family: 'Vollkorn', Times, serif;
	font-size: 20px;}

h1 {color:white;
	font-family: 'Sorts Mill Goudy', Times, serif;
	font-size: 200%;}

p {color:white;
	font-family: 'Vollkorn', Times, serif;}

ul {list-style-type:none;
	margin:0;
	padding:0;}

li{float:left;}

a:link{color:white;}
a:visited{color:gray;}
a:hover{color:white;}


.title {color:white;
		font-family: 'Sorts Mill Goudy', Times, serif;
		text-align:center;}

a.title{text-decoration: none}
a:visited.title{color:white;}
a:hover.title{color:gray;}

table, tr, td {
	font-size: 30px;
}

table{
	border-spacing: 80px;
    border-collapse: separate;
}


.center{
	background: black;
	position: relative;
	margin:0 auto;
	text-align: center;
}

.home_img{
	float: right;
	 margin: 0 0 1em 1em;
}
.body_text{
	overflow: auto;
  	zoom: 1;
}
.menu_box {
  display: inline-block;
  height: 1px;
  margin: 1em;
}

.games_box {
  display: inline-block;
  height: 1px;
  margin: 3em;
}

@media screen and (min-width:1200px) {

  .center{
  	max-width:1200px;
  }
  
  
}

@media screen and (max-width:1199px) {

  .center{
  	max-width:100%;
  }
  
}

